@use "../styles/config";

@font-face {
    font-family: 'Montserrat';
    src: url('../asset/Montserrat-Medium.ttf')
}

.button {
    font-family: Montserrat;
    font-weight: 700;
    background-color: config.$DARK_CYAN;
    border: none;
    border-radius: .5em;
    padding: 1.2em;
    display: flex;
    justify-content: center;

    &:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
    }

    p {
        padding-left: 1em;
        color: config.$WHITE;
    }
}